body {
  font-family: Arial, Helvetica, sans-serif;
}

.node-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.leaf-circle, .cluster-node:hover {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.top-fixed {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#top-bar {
  padding-left: 20px;
  background: white;
  box-shadow: 0px 1px 10px white;
  border-bottom: 1px solid black;
}

#loading {
  text-align: center;
  margin-top: 250px;
  font-size: 14px;
}