body {
  font-family: Arial, Helvetica, sans-serif;
}

.node-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-arc {
  stroke-width: 0px;
}

.node-radial-bar-chart {
  stroke-width: 0.5px;
}

#tooltip, #statements {
  background: white;
  opacity: 0;
  transition: opacity .5s;
  position: fixed;
  border: 2px black solid;
  padding-left: 10px;
  font-size: 10px;
  right: 10px;
  width: 400px;
  height: 300px;
  pointer-events: none;
}

#viz-container, #top-bar, #loading {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#top-bar {
  padding-left: 20px;
  background: white;
  box-shadow: 0px 10px 10px white;
}

#loading {
  text-align: center;
  margin-top: 250px;
  font-size: 20px;
}