body {
  overflow: hidden;
}

#header h1, #interaction {
  border-bottom: .0625rem solid lightgrey;
  margin: 0px;
  padding: 12px;
}

.divider {
  padding: 25px;
  font-size: 25px;
}

.cluster-circle {
  stroke: black;
  stroke-width: 0.5;
}

.cluster-circle:hover {
  stroke-width: 1.0;
}

svg {
  width: 100%;
}

#viz-container {
  opacity: 0;
  transition: opacity 3s;
}

.node-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.cluster-line {
  stroke: black;
  stroke-width: 0.5;
}

#loading-container {
  text-align: center;
  margin-top: 250px;
  font-size: 14px;
  position: fixed;
  top: 100px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  opacity: 0.0;
  transition: opacity 2s;
}

#help {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px;
}

#help p {
  padding: 10px;
}
